[submodule "awesome-vim-colorschemes"]
	path = vim/.vim/awesome-vim-colorschemes
	url = https://github.com/rafi/awesome-vim-colorschemes
[submodule "fzf.vim"]
	path = vim/.vim/plugged/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "fzf"]
	path = vim/.vim/plugged/fzf
	url = https://github.com/junegunn/fzf
